html {
  scroll-behavior: smooth;
}

.text-yellow{
    color: rgb(232, 193, 63);
}

.header{
    width: auto;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    color: rgb(46, 46, 46);
    font-weight: bold;
    position: relative;
}

.header::after{
    position: absolute;
    content: ' ';
    height: 3px;
    width: 100%;
    bottom: -5px;
    border-radius: 2px;
    left: 0;
    background-color: rgba(42,50,68);
}
.header:hover:after{
    animation-name: expandanim; 
    animation-duration: 0.5s;   
    animation-iteration-count: 1;
}
@keyframes expandanim{
    0%{
        width: 0px;
        left: 50%;
    }
    100%{
        width: 100%;
        left:0;
    }
}


.section-enc{
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
}
.section-enc h3{
    margin: 20px auto;
    max-width: 300px;
    font-size: 1.5rem;
    font-weight: bold;
}
.header-alt{
    width: auto;
    color: rgb(239,234,215);
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    font-weight: bold;
    position: relative;
}
.header-alt::after{
    position: absolute;
    content: ' ';
    height: 3px;
    width: 100%;
    bottom: -5px;
    border-radius: 2px;
    left: 0;
    background-color: rgb(232, 193, 63);
}
.header-alt:hover:after{
    animation-name: expandanim; 
    animation-duration: 0.5s;   
}

.section-enc-alt{
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
}

.section-enc-alt h3{
    color: rgb(239,234,215);
    margin: 20px auto;
    max-width: 300px;
    font-size: 1.5rem;
    font-weight: bold;

}
a{
    text-decoration: none !important;
    color: inherit !important;
}
a:active{
    text-decoration: none !important;
    color: inherit !important;
}