/*** Contact ***/
.submit-button {
    background-color: rgb(86,119,166) !important;
    color: rgb(239,234,215) !important;
    padding-left: 50px !important;
    padding-right: 50px !important;
}
.error{
  text-align: left; color:rgb(255,99,71)
}
.loader{
    width: 30px;
    height: 30px;
    background-color: transparent;
    border-radius: 50%;
    border-width: 4px;
    border-style: solid;
    border-color: rgb(239,234,215) ;
    border-top: 4px solid rgb(232, 193, 63);
    animation: spin 2s linear infinite;
}
.mail-ref{
  text-align: left; color: rgb(86,119,166);
}

.contact-image{
  width: 80%;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
