@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/** Landing page **/
.landing-enc{
    top:0;
    left: 0;
}
.landing-page-content {
    display: flex;
    padding-left: 100px;
    position: relative;
    height: 100vh;
    min-height: 400px;
    align-items: center;
    justify-content: flex-start;
}
.landing-page-content div h1{
    font-size: 4rem;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}
.social{
    position: absolute;
    bottom: 50px;
    left: 100px;
}
.social div{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    -ms-flex-direction: row;
}
.social-name{
    font-size: 0.8rem;
    margin-right: 10px;
    font-weight: bold;
    color: rgb(114, 114, 114);
    transition: all 0.5s ease-out;
    cursor: pointer;
}
.social-name:hover{
    color: black;
}
.landing-button-1{
    background-color: rgb(86,119,166) !important;
    border-color: rgb(86,119,166) !important;
    color: rgb(239,234,215) !important;
}

.landing-button-2{
    background-color: rgb(239,234,215) !important;
    border-color: rgb(239,234,215) !important;
    color: rgba(42,50,68) !important;
}

.down-arrow-enc{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    height: 100vh;
    padding-bottom: 50px;
    padding-right: 50px;
}


.down-arrow-enc div{
    display: flex;
    flex-direction: row;
    -ms-flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.down-arrow-enc a{
    text-decoration: none !important;
}
.down-arrow-enc a:active{
    text-decoration: none !important;
}
.down-arrow{
    margin: 0px;
    color: rgb(232, 193, 63) !important;
    font-size: 4.5rem;
}
.down-arrow:hover{
    color: rgba(42,50,68) !important;
}

@media only screen and (max-width:898px) {
    .landing-page-content div h1{
        font-size: 3rem;   
    }
}
@media only screen and (max-width:767px) {
    .landing-page-content div h1{
        font-size: 4rem;   
    }
    .landing-page-content {
        padding-left: 100px;
        padding-right: 100px;
    }
    .down-arrow-enc{
        display: none !important;
    }
}
@media only screen and (max-width:610px) {
    .landing-page-content div h1{
        font-size: 3.5rem;   
    }
    .social{
        left: 50px;   
    }

    .landing-page-content {
        padding-left: 50px;
        padding-right: 50px;
    }
}
@media only screen and (max-width:491px) {
    .landing-page-content div h1{
        font-size: 3rem;   
    }
}
@media only screen and (max-width:396px) {
    .landing-page-content div h1{
        font-size: 2.5rem;   
    }
    .landing-page-content {
        padding-left: 25px;
        padding-right: 25px;
    }
    .social{
        left: 25px;   
    }
}
@media only screen and (max-height: 526px) {
    .social{
        bottom: 25px;   
    }
    .landing-page-content div h1{
        font-size: 2.5rem;   
    }
}