/**** Services and team  ****/
.section-alt-bg {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: rgba(42,50,68);
}
.content-wrapper{
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    color: rgba(42,50,68);
}
.content-card {
    padding: 20px;
    padding-left: 25px;
    padding-right: 25px;
    flex: 0 0 250px;
    font-size: 1rem;
    margin: 20px;
    margin-bottom: 0px;
    text-align: left;
    border-radius: 10px;
    background-color: rgba(239,234,215,0.7);
    display: flex;
    flex-direction: column;
    -ms-flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.content-card-header{
    font-weight: bold;
    margin-bottom: 5px;
}
.content-card-logo{
    margin-bottom: 10px;
    font-size: 1.5rem;
}

.founder:nth-child(1){
    order: 1
}
.founder:nth-child(2){
    order: 2
}
.founder:nth-child(3){
    order: 3
}
.founder:nth-child(4){
    order: 4
}
.founder:nth-child(5){
    order: 5
}
.founder:nth-child(6){
    order: 6
}
@media only screen and (max-width: 950px) {
    .founder:nth-child(1){
        order: 2
    }
    .founder:nth-child(2){
        order: 1
    }
}

.content-card-image img{
    width: 120px;
    margin-bottom: 20px;
    border-radius: 50%;
    height: 120px;
    border-color:rgba(42,50,68);
    border-style: solid;
    border-width: 2px;
}
.text-color-white{
    color:  rgba(239,234,215,1);
    padding-top: 20px !important;
}


.about-card {
    width: 200px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    -ms-flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.about-card-header{
    font-weight: bold;
    margin-bottom: 5px;
}
.about-card-logo{
    margin-bottom: 10px;
}
.about-card:nth-child(1) {
    color:rgb(84, 109, 168);
}
.about-card:nth-child(2) {
    color: rgba(42,50,68);
}
.about-card:nth-child(3) {
    color: rgb(44, 129, 22);
}